<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'login_manager' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="offset" name="offset" value="">
        <p>Имя пользователя:</p>
        <input type="text" name="username" value="{{ username }}">
        <p>Пароль:</p>
        <input type="password" name="password">
        <p></p>
        <input type="submit" value="Подтвердить">
    </form>
    <script>
        let timezone_offset_minutes = new Date().getTimezoneOffset();
        timezone_offset_minutes = timezone_offset_minutes == 0 ? 0 : -timezone_offset_minutes;

        let d = document.getElementById("offset");
        d.value=timezone_offset_minutes
    </script>
</body>
</html>
