<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Вы точно хотите удалить машину с ID {{vehicle.id}}</h3>

    <table>
        <tr>
            <td>
                <form action="{% url 'delete_vehicle' id=vehicle.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Удалить">
                </form>
            </td>
            <td>
                <form action="{% url 'enterprise' name=vehicle.enterprise.name %}" method="get">
                    <input type="submit" value="Отмена">
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
