<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if routes %}
        <table>
            <td><b>ID маршрута |</b></td>
            <td><b>Адрес начала маршрута |</b></td>
            <td><b>Адрес окончания маршрута</b></td>
            {% for r in routes %}
                <tr>
                    <td><a href={% url 'route_on_map' r.id %}>{{ r.id }}</a></td>
                    <td>{{ r.start_address }}</td>
                    <td>{{ r.end_address }}</td>
                </tr>
            {% endfor %}
        </table>
        <p></p>
        <form>
            <button type="submit">Выбрать другой временной промежуток</button>
        </form>
    {% else %}
        <form>
            <p>
                <label for="start_datetime">Дата и время начала поездки: </label>
                <input type="datetime-local" id="start_datetime" name="start_datetime"/>
            </p>
            <p>
                <label for="end_datetime">Дата и время окончания поездки: </label>
                <input type="datetime-local" id="end_datetime" name="end_datetime"/>
            </p>
            <p>
                <button type="submit">Получить маршруты за указанный промежуток</button>
            </p>
        </form>
    {% endif %}
</body>
</html>
